.input-margin{
    display: grid;
    margin-top: -22px;
    margin-left: 110px;
    width: 333px;
    height: 26px;
    padding-left: 10px;
}

.radio-margin{
    margin-left: 66px;
    margin-bottom: 16px;
}

.input-select{
    display: grid;
    margin-top: -22px;
    margin-left: 110px;
    padding: 3px;
}

.checkboxes {
    margin-top: -22px;
    margin-left: 110px;
    padding: 3px;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .checkbox-group:not(:last-of-type) {
    margin-bottom: 10px;
  }
  
  .checkbox {
    cursor: pointer;
  }

  .textarea-margin{
    display: grid;
    margin-top: -22px;
    margin-left: 110px;
    height: 120px;
    width: 233px;
  }

  .st-margin{
    display: grid;
    margin-top: -22px;
    margin-left: 110px;
  }

  span{
    color: #b8b8b8;
  }

  
